

/* Style for the navigation bar */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
 }
 
 .navbar-brand {
  font-size: 24px;
  font-weight: bold;
 }
 
 .navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  margin-right: 20px;
 }
 
 .navbar-nav .nav-link:hover {
  color: #007bff;
 }
 
 /* Style for the form */
 .card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 }
 
 .card-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  text-align: center;
 }
 
 .card-body {
  padding: 30px;
 }
 
 .form-label {
  font-weight: bold;
 }
 
 .form-check-input[type="radio"],
 .form-check-input[type="checkbox"] {
  margin-top: 5px;
 }
 
 .form-check-label {
  margin-left: 10px;
 }
 
 .form-select {
  margin-top: 5px;
 }
 
 .btn-primary {
  background-color: #007bff;
  border: none;
 }
 
 .btn-primary:hover {
  background-color: #0069d9;
 }
 